<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lmfao</title>
</head>

<body style="background-color:black;">
<p style="color:yellow;">
    github -> <a href="https://github.com/heimdilon">here</a>
    <br>linkedin -> <a href="https://www.linkedin.com/in/orkun-koray-gungor/">here</a>
    <br>youtube -> <a href="https://www.youtube.com/channel/UCeYpSEq-oshXFMusX_ZkiYQ/featured">here</a>
    <br>instagram -> <a href="https://www.instagram.com/heimdilon">here</a>
    <br>blog -> <a href="https://orkunkoraygungor.blogspot.com/">here</a>

</p>
</body>
</html>